body{
    font-family: "Lucida Grande","Droid Sans","DejaVu Sans","Bitstream Vera Sans","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,Verdana,"ＭＳ Ｐゴシック","MS PGothic","VL Pゴシック","Takao Pゴシック","IPA Pゴシック",sans-serif;
	padding-top: 70px;
}

.step{
    position: relative;
}

.next, .prev{
	margin: 0;
	backgruond-color: transparent;
	border-style: none;
	box-shadow: none;
}
.finish{
	margin-top: 2em;
}

.btn{
	border-style: no-border;
}

.btn-group-justified .btn{
	width: auto;
}

.panel{
    width: 100%;
	padding-top: 100px;
	box-shadow: none;
}

.main > .step:first-child > .panel{
	padding: 0;
}